<nav class="db dt-ns w-100 border-box pa3 ph5-ns">
  <a class="db f3 dtc-ns v-mid white link dim fw7 w-25-ns tc mb2 mb0-ns pv3 pa3-ns" id="title" href="/" title="Home">
    the STUDIO
  </a>
  <div class="db dtc-ns v-mid w-100 w-75-ns tc tr-ns">
    <a class="link dim slate f6 f5-ns dib mr3 mr4-ns" href="#photos" title="Photos">Photos</a>
    <a class="link dim slate f6 f5-ns dib mr3 mr4-ns" href="#about" title="About">About</a>
    <a class="link dim slate f6 f5-ns dib" href="#contact" title="Contact">Contact</a>
  </div>
</nav>
