// ---
// COLORS
// ---

.sans-serif { font-family: 'Karla', sans-serif; }

// ---
// COLORS
// ---

.slate { color: #292824; }
.bg-slate { background-color: #292824; }

// ---
// CURSORS
// ---

.cp { cursor: pointer; }

// ---
// TITLE
// ---

#title {
  background-image: url('/img/heading-background.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
