---
slug: home
path: "/"
title: The Studio — Photography from Jonathan & Colsey Simcoe
description: We love taking beautiful, original, heartfelt pictures of families, birth, and infants.
image: the-studio-1200x630.jpg
sitemap_exclude: false
---

{% extends 'templates/default.html' %}

{% block masthead %}
  <article id="alert-form" class="w-100 br2 ba bg-slate white mb4 pa2 dn animated fadeInDown">
    <h2 class="f4 fw4 tc">Thank your for submission. If you're a human, a human will respond at some point. 🤖</h2>
  </article>
  <article id="alert-404" class="w-100 br2 ba bg-slate white mb4 pa2 dn animated fadeInDown">
    <h2 class="f4 fw4 tc"><span class="ttu tracked fw7">404 Error</span>— Oh Snap! 📷 Sorry for that fail. Feel free to browse the site anyway.</h2>
  </article>
  <article class="pa3">
    <h1 class="f2 f1-ns mb5 w-75 slate center tc">Photography. From our heart. For your family. In your home.</h1>
  </article>
{% endblock %}

{% block main %}
  <article id="photos" class="pa3">
    <h2 class="f5 mb4 ttu tracked slate tc">Lifestyle</h2>
    <section class="cf">
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/01.jpg" alt="Lifestyle Picture #1" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/02.jpg" alt="Lifestyle Picture #2" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/03.jpg" alt="Lifestyle Picture #3" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/04.jpg" alt="Lifestyle Picture #4" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/05.jpg" alt="Lifestyle Picture #5" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/06.jpg" alt="Lifestyle Picture #6" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/07.jpg" alt="Lifestyle Picture #7" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/08.jpg" alt="Lifestyle Picture #8" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/09.jpg" alt="Lifestyle Picture #9" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/010.jpg" alt="Lifestyle Picture #10" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/011.jpg" alt="Lifestyle Picture #11" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/012.jpg" alt="Lifestyle Picture #12" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/013.jpg" alt="Lifestyle Picture #13" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/014.jpg" alt="Lifestyle Picture #14" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/015.jpg" alt="Lifestyle Picture #15" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/lifestyle/016.jpg" alt="Lifestyle Picture #16" class="db w-100" />
      </div>
    </section>
    <h2 class="f5 mb4 mt6 ttu tracked slate tc">Family</h2>
    <section class="cf">
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/01.jpg" alt="Family Picture #1" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/02.jpg" alt="Family Picture #2" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/03.jpg" alt="Family Picture #3" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/04.jpg" alt="Family Picture #4" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/05.jpg" alt="Family Picture #5" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/06.jpg" alt="Family Picture #6" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/07.jpg" alt="Family Picture #6" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/08.jpg" alt="Family Picture #8" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/09.jpg" alt="Family Picture #9" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/010.jpg" alt="Family Picture #10" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/011.jpg" alt="Family Picture #11" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/012.jpg" alt="Family Picture #12" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/013.jpg" alt="Family Picture #13" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/family/014.jpg" alt="Family Picture #14" class="db w-100" />
      </div>
    </section>
    <h2 class="f5 mb4 mt6 ttu tracked slate tc">Baby</h2>
    <section class="cf">
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/01.jpg" alt="Baby Picture #1" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/02.jpg" alt="Baby Picture #2" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/03.jpg" alt="Baby Picture #3" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/04.jpg" alt="Baby Picture #4" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/05.jpg" alt="Baby Picture #5" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/06.jpg" alt="Baby Picture #6" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/08.jpg" alt="Baby Picture #8" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/09.jpg" alt="Baby Picture #9" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/010.jpg" alt="Baby Picture #10" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/014.jpg" alt="Baby Picture #14" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/011.jpg" alt="Baby Picture #11" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/07.jpg" alt="Baby Picture #7" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/012.jpg" alt="Baby Picture #12" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/baby/013.jpg" alt="Baby Picture #13" class="db w-100" />
      </div>
    </section>
    <h2 class="f5 mb4 mt6 ttu tracked slate tc">Birth</h2>
    <section class="cf">
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/birth/01.jpg" alt="Birth Picture #1" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/birth/02.jpg" alt="Birth Picture #2" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/birth/03.jpg" alt="Birth Picture #3" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/birth/04.jpg" alt="Birth Picture #4" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/birth/05.jpg" alt="Birth Picture #5" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/birth/06.jpg" alt="Birth Picture #6" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/birth/07.jpg" alt="Birth Picture #7" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/birth/08.jpg" alt="Birth Picture #8" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/birth/09.jpg" alt="Birth Picture #9" class="db w-100" />
      </div>
      <div class="fn fl-ns w-100 w-50-ns">
        <img src="/media/birth/010.jpg" alt="Birth Picture #10" class="db w-100" />
      </div>
    </section>
  </article>
  <article id="about" class="pa3">
    <h2 class="f5 ttu tracked slate">About Us</h2>
    <img src="/media/jonathan-and-colsey-simcoe.jpg" alt="Jonathan & Colsey Simcoe in 2009." class="w-5 w-33-ns center br-100 db fn fr-ns pl3 mw5" />
    <p class="measure f5 f4-ns lh-copy">
      I am first a Christian and then a husband and father who strives to glorify God in all aspects of my life. I am Senior Product Designer at Circle with Disney where I shape the direction of our brand and products through design.
    </p>
    <p class="measure f5 f4-ns lh-copy">
      I previously done work for Under Armour, Mozo Shoes, TGC, Songs for Saplings, and a host of smaller clients. Before that WebMD Health Services where I helped push new standards like responsive design and adoption of HTML5 and CSS3 to produce better web experiences for clients. Prior to WebMD, I worked at the Waggener Edstrom Studio D™ digital strategies practice, churning out creative web, digital and print work for clients such as Microsoft, Bing, Verizon, HTC, Sasquatch! Music Festival, Washington Roundtable, and the Jebsen Group.
    </p>
    <p class="measure f5 f4-ns lh-copy">
      I have a passion for learning and am excited about the direction of the web, as well as how new-fangled web technologies are facilitating and enabling great content to take on a variety of forms to reach new audiences.
    </p>
  </article>
  <article id="contact" class="pa3">
    <h2 class="f5 mb4 ttu tracked slate">Contact</h2>
    <form action="https://formspree.io/form@jdsimcoe.com" method="POST">
      <input type="text" name="name" placeholder="Full Name" class="input-reset db br2 ba dark-gray b--black-10 pa3 mb3 w-100 w-25-ns" />
      <input type="email" name="_replyto" placeholder="Email" class="input-reset db br2 ba dark-gray b--black-10 pa3 mb3 w-100 w-25-ns" />
      <textarea type="text" name="content" placeholder="Say something..." rows="15" class="input-reset db br2 ba dark-gray b--black-10 pa3 mb3 w-100 w-50-ns"></textarea>
      <input type="hidden" name="_next" value="/?form=success" />
      <input type="hidden" name="_subject" value="🐴 jdsimcoe.com — New form submission!" />
      <input type="text" name="_gotcha" class="dn" />
      <input type="submit" value="Send" class="input-reset db br2 bn pa3 mb3 w-100 w-25-ns bg-slate white dim cp" />
    </form>
  </article>
{% endblock %}
